<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS SHEET -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/style.css') }}">
    <title>HOME</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

        <img src="{{ url_for('static', filename= 'images/Welcome.png') }}">
        <p>Hi, I am Bibiana,</p>
        <p>a Web Designer and Developer</p>
        <p><a href="{{ url_for('about') }}">Learn more</a></p>
        
    {% endblock %}
</body>
</html>